<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaka.sell.mapper.OrderMasterMapper">
    <sql id="OrderMasterField">
        order_id,
        buyer_name,
        buyer_phone,
        buyer_address,
        buyer_openid,
        order_amount,
        order_status,
        pay_status

    </sql>
    <select id="findByBuyerOpenId" resultType="orderMaster">
        select * from order_master where buyer_openid = #{buyerOpenId}
    </select>

    <insert id="save">
        insert into order_master (
        <include refid="OrderMasterField"></include>
        )
        values
        (#{orderId},#{buyerName},#{buyerPhone},#{buyerAddress},#{buyerOpenid},#{orderAmount},#{orderStatus},#{payStatus})
    </insert>

    <select id="findOne" resultType="orderMaster">
        select * from order_master where order_id = #{orderId}
    </select>

    <update id="update">
      update order_master
      <set>
          <if test="buyerName != null and buyerName !=''">
              buyer_name = #{buyerName},
          </if>
          <if test="buyerPhone != null and buyerPhone != ''">
              buyer_phone = #{buyerPhone},
          </if>
          <if test="buyerAddress != null and buyerAddress != ''">
              buyer_address = #{buyerAddress},
          </if>
          <if test="buyerOpenid != null and buyerAddress != ''">
              buyer_openid = #{buyerOpenid},
          </if>
          <if test="orderAmount != null">
              order_amount = #{orderAmount},
          </if>
          <if test="orderStatus != null">
              order_status = #{orderStatus},
          </if>
          <if test="payStatus != null">
              pay_status = #{payStatus},
          </if>
      </set>
        where order_id = #{orderId}
    </update>
</mapper>