<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaka.sell.mapper.ProductCategoryMapper">
    <select id="save">
        insert into product_category (category_name,category_type) values (#{categoryName},#{categoryType})
    </select>

    <select id="findByCategoryType" parameterType = "java.util.List" resultType="productCategory">
        select * from product_category where category_type in
          <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
          </foreach>
    </select>

    <select id="findOne" resultType="productCategory">
        select * from product_category where category_type = #{arg0}
    </select>

    <select id="findAll" resultType="productCategory">
        select * from product_category
    </select>

</mapper>