<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaka.sell.mapper.ProductInfoMapper">
    <select id="findByProductStatus" resultType="productInfo">
        select * from product_info where product_status = #{arg0}
    </select>

    <insert id="save" parameterType="productInfo">
        insert into product_info
        (product_id,product_name,product_price,product_stock,product_description,product_icon,category_type)
        values (#{productId},#{productName},#{productPrice},#{productStock},#{productDescription},#{productIcon},#{categoryType})
    </insert>

    <select id="findOne" resultType="productInfo">
        select * from product_info where product_id = #{product_id}
    </select>

    <select id="findAll" resultType="productInfo">
        select * from product_info limit #{arg0},#{arg1}
    </select>

    <update id="update">
        update product_info
        <set>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice},
            </if>
            <if test="productStock != null">
                product_stock = #{productStock},
            </if>
            <if test="productDescription != null and productDescription != ''">
                product_description = #{productDescription},
            </if>
            <if test="productIcon != null and productIcon != ''">
                product_icon = #{productIcon},
            </if>
            <if test="categoryType != null">
                category_type = #{categoryType},
            </if>
            <if test="productStatus != null">
                product_status = #{productStatus},
            </if>
        </set>
        where product_id = #{productId}
    </update>

</mapper>